footer
  .container.text-center
    p.pull-left © 2015 e-Organizer, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/CUNYTech/eOrganizer') GitHub Project
      li
        a(href='https://github.com/CUNYTech/eOrganizer/issues') Issues